<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间:对SQL语句进行分类化管理,SQL语句的隔离, -->
<mapper namespace="com.wenpingao.qe.mapper.UserMapper">

    <sql id="colum">
        id,name,pwd,email,tel
    </sql>
    <select id="findAll" resultType="com.wenpingao.qe.pojo.User">
        select id,name,pwd,email,tel from tb_user
    </select>
    <select id="findByUserId" parameterType="String" resultType="com.wenpingao.qe.pojo.User">
        select id,name,pwd,email,tel from tb_user WHERE id = ${VALUE}
    </select>
    <select id="findUser" parameterType="User" resultType="com.wenpingao.qe.pojo.User">
        select id,name,pwd,email,tel from tb_user WHERE 1 = 1
        <if test="name != null ">
            AND name = #{name}
        </if>
        <if test="pwd != null">
            AND pwd = #{pwd}
        </if>
        <if test="email != null">
            AND email = #{email}
        </if>
        <if test="tel != null">
            AND tel = #{tel}
        </if>
    </select>
    <insert id="insert" parameterType="com.wenpingao.qe.pojo.User">
        INSERT INTO tb_user(
        <include refid="colum"/>
        ) VALUES (#{id},#{name},#{pwd},#{email},#{tel})
    </insert>

    <select id="getDataCount" resultType="int">
        SELECT COUNT(id) num FROM tb_user
    </select>

    <select id="findUserByPage" resultType="com.wenpingao.qe.pojo.User">
        SELECT <include refid="colum"/>
        FROM tb_user limit #{0},#{1}
    </select>
</mapper>